# No need to publish typescript source files
*.ts

# These are ignored by Git, but we DO want to publish them to npm
!src/*.js
!src/*.d.ts

# Tests, examples, etc. should be ignored too
__test__
dist
example
.travis.yml
.editorconfig
docs
